<h1>Listado de Departamentos</h1>

<!-- Botón para Crear Departamento -->
<div class="create-dpto-container">
    <button type="button" class="create-dpto-button" (click)="abrirFormularioCrear()">Crear Departamento</button>
</div>

<!-- Tabla de Departamentos -->
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Jefe</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dpto of departamentos">
            <td>{{ dpto.nombre }}</td>
            <td>{{ dpto.jefeTO.nombre || 'Sin Jefe Asignado' }}</td>
            <td>
                <button (click)="abrirFormularioEditar(dpto)">Editar</button>
                <button (click)="deleteDepartamento(dpto.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal para Crear/Editar Departamento -->
<div *ngIf="mostrarFormulario" class="modal-container">
    <div class="modal-backdrop" (click)="cerrarFormulario()"></div>
    <div class="modal-content form-container">
        <form (ngSubmit)="saveDepartamento()">
            <!-- Campo Nombre -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" placeholder="Escribe un nombre" [(ngModel)]="nuevoDepartamento.nombre" name="nombre" required />

            <!-- Campo Jefe -->
            <label for="jefe">Jefe:</label>
            <select id="jefe" [(ngModel)]="nuevoDepartamento.jefeTO.id" name="jefe" required>
                <option *ngFor="let jefe of jefes" [value]="jefe.id">
                    {{ jefe.nombre }}
                </option>
            </select>

            <!-- Botones Guardar/Cancelar -->
            <br /><br />
            <button type="submit">Enviar</button>
            <button type="button" (click)="cerrarFormulario()">Cancelar</button>
        </form>
    </div>
</div>