<h1>Listado de Empleados</h1>

<!-- Modal para Crear/Editar Empleado -->
<div *ngIf="mostrarFormulario" class="modal-container">
    <!-- Fondo difuminado -->
    <div class="modal-backdrop" (click)="cerrarFormulario()"></div>

    <!-- Contenido del modal -->
    <div class="modal-content form-container">
        <form (ngSubmit)="saveEmpleado()">
            <!-- Campo Nombre -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" placeholder="Escribe el nombre" [(ngModel)]="nuevoEmpleado.nombre"
                name="nombre" required />

            <!-- Campo Edad -->
            <label for="edad">Edad:</label>
            <input type="number" id="edad" placeholder="Escribe la edad" [(ngModel)]="nuevoEmpleado.edad" name="edad"
                required />

            <!-- Campo Fecha de Alta -->
            <label for="fechaAlta">Fecha de Alta:</label>
            <input type="date" id="fechaAlta" [(ngModel)]="nuevoEmpleado.fechaAlta" name="fechaAlta" required />

            <!-- Campo Salario -->
            <label for="salario">Salario:</label>
            <input type="number" id="salario" placeholder="Escribe el salario" [(ngModel)]="nuevoEmpleado.salario"
                name="salario" required />

            <!-- Selección de Departamento -->
            <label for="departamento">Departamento:</label>
            <select id="departamento" [(ngModel)]="departamentoId" name="departamento" required>
                <option value="" disabled selected>Seleccione un departamento</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento.id">
                    {{ departamento.nombre }}
                </option>
            </select>

            <!-- Botones Guardar/Cancelar -->
            <br /><br />
            <button type="submit">Guardar</button>
            <button type="button" (click)="cerrarFormulario()">Cancelar</button>
        </form>
    </div>
</div>

<!--Campo de búsqueda por nombre-->
<div class="busquedas">

    <!-- Campo de búsqueda por nombre -->
    <div>
        <p>Busca por nombre:</p>
        <input type="text" [(ngModel)]="nuevoEmpleado.nombre" (input)="searchByName()" />
    </div>

    <!-- Campo de búsqueda por edad -->
    <div>
        <p>Busca por edad:</p>
        <input type="number" [(ngModel)]="nuevoEmpleado.edad" (input)="searchByEdad()" />
    </div>

    <!-- Campo de búsqueda por salario superior a x -->
    <div>
        <p>Busca por salario superior a:</p>
        <input type="number" [(ngModel)]="salarioSuperior" (input)="searchBySuperiorASalario()" />
    </div>

    <!-- Campo de búsqueda por salario inferior a x -->
    <div>
        <p>Busca por salario inferior a:</p>
        <input type="number" [(ngModel)]="salarioInferior" (input)="searchByInferiorASalario()" />
    </div>

    <!-- Campo de búsqueda entre salarios -->
    <div>
        <p>Busca jefes con salario entre:</p>
        <input type="number" [(ngModel)]="salarioMinimo" placeholder="Salario mínimo" />
        <input type="number" [(ngModel)]="salarioMaximo" placeholder="Salario máximo" />
        <button (click)="buscarPorRangoDeSalarios()">Buscar</button>
    </div>
</div><br />

<!-- Botón para Crear Empleado -->
<div class="create-empleado-container">
    <button type="button" class="create-empleado-button" (click)="abrirFormularioCrear()">Crear Empleado</button>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Fecha de alta</th>
            <th>Fecha de baja</th>
            <th>Salario</th>
            <th>Departamento asignado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empleados">
            <td>{{emp.nombre }}</td>
            <td>{{emp.edad }}</td>
            <td>{{emp.fechaAlta }}</td>
            <td>{{emp.fechaBaja }}</td>
            <td>{{emp.salario }}</td>
            <td>{{emp.departamentoTO?.nombre}}</td>

            <td>
                <button (click)="abrirFormularioEditar(emp)">Editar</button>
                <button (click)="deleteEmpleado(emp.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>